<div class="container mt-2">
    <div class="row">
        <div class="col">
            <p>
                <a routerLink="new" class="btn btn-primary ">Add New Product</a>
            </p>
        </div>
        <div class="col">
            <input type="search" style="padding:8px;margin:15px auto;border:0;outline:none;border-bottom: 1px solid;"
                placeholder="Type to filter the product list..." #search (keyup)="filter(search.value)">


        </div>
    </div>
    <div class="row">
        <div class="col">

            <ngx-datatable #productsTable class="material" [rows]="filteredProducts" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5"
                [sorts]="[{prop:'title',dir:'asc'}]">

                <ngx-datatable-column name="Title" prop="title">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.title}}
                    </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-column name="Price" prop="price">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.price | currency:'INR'}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="row._id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </ng-template>

                </ngx-datatable-column>

            </ngx-datatable>


        </div>
    </div>
</div>