.self{
    background-color: #98fb98;
    margin-left: 58%;
}
.friend{
margin-right: 58%;
;
}

.chat-card-body::-webkit-scrollbar {
    background-color: rgb(231, 147, 147) !important;
    width: 7px !important;
}

.chat-card-body::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 204) !important;
    border-radius: 10px !important;
}

.chat-card-body{
    overflow-x: clip !important;
}

.dropdown-toggle::after {
    display: none;
}

.deleteMessage:hover{
    color:red;
    background-color:white;
}